body{
font-family: Arial;
margin:0;
background: linear-gradient(to right,#ff9966,#ff5e62);
color:white;
}

header{
background:#333;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

h1,h2,h3{
text-align:center;
}

section{
padding:30px;
}

ul{
width:60%;
margin:auto;
}

form{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
}

input,textarea{
margin:10px;
padding:8px;
}

button{
background:#222;
color:white;
padding:10px;
border:none;
}
